﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="~/Images/apple-icon.png" rel="apple-touch-icon" sizes="76x76">
    <link href="~/Images/favicon.png" rel="icon" type="image/png">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Talent Soft</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta content="width=device-width" name="viewport">
    <!-- Bootstrap core CSS     -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!--  Material Dashboard CSS    -->
    <link href="~/Content/material-dashboard.css?v=1.2.1" rel="stylesheet">
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/demo.css" rel="stylesheet">
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-active-color="green" data-background-color="black" data-image="../Images/sidebar-3.jpg">
            <!--
                Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
                Tip 2: you can also add an image using data-image tag
                Tip 3: you can change the color of the sidebar with data-background-color="white | black"
            -->
            <div class="logo">
                <a href='@Url.Action("Index", "Home", new { })' class="simple-text">
                    Talent Soft
                </a>
            </div>
            <div class="logo logo-mini">
                <a href='@Url.Action("Index", "Home", new { })' class="simple-text">
                    TS
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="../Images/faces/avatar.jpg" />
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="">
                            Tania Andrew

                        </a>

                    </div>
                </div>
                <ul class="nav">
                    <li class="cloud_download">
                        <a href='@Url.Action("Index", "ViewSessions", new { })'><i class="material-icons">view_list</i><p>Heures Réalisées</p></a>
                    </li>
                   
                    <li class="cloud_download">
                        <a href='@Url.Action("ViewTrainee", "ViewSessions", new { })'><i class="material-icons">cloud_download</i><p>Export</p></a>
                    </li>


                </ul>

            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                            <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons visible-on-sidebar-mini">view_list</i>
                        </button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>

                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="content">
                @RenderBody()
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> <a href="http://www.adelphatech.com">AdelphaTech</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript">
</script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript">
</script>
<script src="~/Scripts/material.min.js" type="text/javascript">
</script>
<script src="~/Scripts/perfect-scrollbar.jquery.min.js" type="text/javascript">
</script> <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->



<script src="~/Scripts/arrive.min.js" type="text/javascript">
</script> <!-- Forms Validations Plugin -->

<script src="~/Scripts/jquery.validate.min.js">
</script> <!--  Plugin for Date Time Picker and Full Calendar Plugin-->

<script src="~/Scripts/moment.min.js">
</script> <!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->

<script src="~/Scripts/chartist.min.js">
</script> <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->

<script src="~/Scripts/jquery.bootstrap-wizard.js">
</script> <!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->

<script src="~/Scripts/bootstrap-notify.js">
</script> <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->

<script src="~/Scripts/bootstrap-datetimepicker.js">
</script> <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->

<script src="~/Scripts/jquery-jvectormap.js">
</script> <!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->

<script src="~/Scripts/nouislider.min.js">
</script> <!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->

<script src="~/Scripts/jquery.select-bootstrap.js">
</script> <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->

<script src="~/Scripts/jquery.datatables.js">
</script> <!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->

<script src="~/Scripts/sweetalert2.js">
</script> <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->

<script src="~/Scripts/jasny-bootstrap.min.js">
</script> <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->

<script src="~/Scripts/fullcalendar.min.js">
</script> <!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->

<script src="~/Scripts/jquery.tagsinput.js">
</script> <!-- Material Dashboard javascript methods -->

<script src="~/Scripts/material-dashboard.js?v=1.2.1">
</script> <!-- Material Dashboard DEMO methods, don't include it in your project! -->

<script src="~/Scripts/demo.js">
</script>
<script type="text/javascript">
                      $(document).ready(function() {
                          md.initSliders()
                          demo.initFormExtendedDatetimepickers();
                      });
</script>
<script type="text/javascript">

    $(document).ready(function() {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }

        });


        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function() {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });



        $('.card .material-datatables label').addClass('form-group');
    });
</script>
@RenderSection("scripts", required: false)