﻿@model PagedList.IPagedList<WH_TalentSoft.Models.ViewSESSION1>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<style>
    .MyTable {
        width: 100%;
    }
</style>

<div class="material-datatables">
    <table class="table">
        <thead style="font-size:15px !important;color:#00bcd4;font-weight:200">
            <tr role="row">
                <th>
                    @Html.DisplayName("ID")
                </th>
                <th>
                    @Html.DisplayName("Nom Action")
                </th>
                <th>
                    @Html.DisplayName("Code de la Session")
                </th>
                <th>
                    @Html.DisplayName("Type de Formaion")
                </th>
                <th>
                    @Html.DisplayName("Nature Formation N1")
                </th>
                <th>
                    @Html.DisplayName("Nature Formation N2")
                </th>
                <th>
                    @Html.DisplayName("Projet")
                </th>

                <th>
                    @Html.DisplayName("Formateur")
                </th>
                <th>
                    @Html.DisplayName("Nombre de Stagiaire")
                </th>
                <th>
                    @Html.DisplayName("Avancement de la Session")
                </th>
                <th>
                    @Html.DisplayName("Statut de Validation")
                </th>

                <th>
                    @Html.DisplayName("Date début de la session")
                </th>
                <th>
                    @Html.DisplayName("Date fin de la session")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr role="row" class="ChangeColor">
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type_de_formation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nature_formation_N1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nature_formation_N2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Projet)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Formateur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_de_stagiaire)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Statut_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etat_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_début_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_fin_de_la_session)
                    </td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" class="btn btn-success btn-round btn-view-details" data-Code="@Html.DisplayFor(modelItem => item.Code_de_la_session)" data-Action="@Html.DisplayFor(modelItem => item.Action)" data-Formateur="@Html.DisplayFor(modelItem => item.Formateur)" data-n1="@Html.DisplayFor(modelItem => item.Nature_formation_N1)" data-n2="@Html.DisplayFor(modelItem => item.Nature_formation_N2)">
                            <i class="material-icons">visibility</i>
                            <div class="ripple-container"></div>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<script>
    $(".pagination").find("a").click(function () { event.preventDefault(); $.get(event.target, function (success) { $("#test").html(success); }); })
</script>

@Html.PagedListPager(Model, page => Url.Action("_ViewSession",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
@section Scripts{ 
    <script src="~/Scripts/js/jquery.datatables.js"></script>
    <script>
           
                $(document).ready(function () {
                    $('#datatables').DataTable({
                        "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        responsive: true,
                        language: {
                            search: "_INPUT_",
                            searchPlaceholder: "Search records",
                        }

                    });


                    var table = $('#datatables').DataTable();

                    // Edit record
                    table.on('click', '.edit', function () {
                        $tr = $(this).closest('tr');

                        var data = table.row($tr).data();
                        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
                    });



                    $('.card .material-datatables label').addClass('form-group');
                });
    </script>
}
<script>
    $(".pagination").find("a").click(function () {
        event.preventDefault();
        var href = event.target.href;
        window.currentpage = href.substr(href.length - 1, 1);
        var newpage = "?page=" + window.currentpage;
        if (window.filters != undefined) {
            
            window.filters = window.filters.replace("" + window.page, newpage);
            $.get(event.target + window.filters, function (success) {

                $("#test").html(success);
            });
        }


        else {
            $.get(event.target, function (success) {
                $("#test").html(success);
            });
        };
    })

    $(document).ready(function () {
        $('.ChangeColor').click(function () {
            //Check to see if background color is set or if it's set to white.

            $('.ChangeColor').css({ 'background-color': '', 'opacity': '' });
            $(this).css("background-color", "#fd9a14");

        });
    });
    $(document).on("click", '.ColorChange', function (event) {
        $('tr.ColorChange').css({ 'background-color': '', 'opacity': '' });
        $(this).css("background-color", "#fd9a14");

    });

    $(document).on("click", '.ColorChange', function (event) {
        $('tr.ChangeColor').css({ 'background-color': '', 'opacity': '' });
        $(this).css("background-color", "#fd9a14");
    });


</script>







