﻿@model WH_TalentSoft.Models.ViewSESSION1

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ViewSession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code_de_la_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code_de_la_session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_de_formation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_de_formation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_de_stagiaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_de_stagiaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avancement_de_la_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut_de_validation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_début_de_la_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_début_de_la_session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_fin_de_la_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_fin_de_la_session)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Key }) |
    @Html.ActionLink("Back to List", "Index")
</p>
