﻿@model WH_TalentSoft.ViewModel.HoursRealise
@{
    ViewBag.Title = "Viewtrainee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="orange">
                    <i class="material-icons">view_list</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Liste des sessions de formation</h4>
                    <legend>Filtre</legend>

                    @using (Html.BeginForm("_Viewtrainee", "ViewSessions", FormMethod.Get))
                    {
                        <div class="col-md-12">
                        <div class="form-group  col-md-2">
                            @Html.LabelFor(model => model.trainee.Date_début_de_la_session, htmlAttributes: new { @class = "label-control" })
                            @Html.EditorFor(model => model.search1, new { htmlAttributes = new { @class = "form-control datepicker", id = "search1" } })
                        </div>

                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.trainee.Date_fin_de_la_session, htmlAttributes: new { @class = "label-control" })
                            @Html.EditorFor(model => model.search2, new { htmlAttributes = new { @class = "form-control datepicker", id = "search2" } })


                        </div>
                        <div class="form-group col-md-3">
                            <select class="selectpicker" id="search3">
                                <option value="" selected>Environement</option>
                                @foreach (var item in ViewBag.pays)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <select class="selectpicker" id="search4">
                                <option value="" selected>Selection</option>
                              
                            </select>
                        </div>


                        <div class="col-md-2">
                            <button id="btnsearch" type="submit" onclick="GetFilter()" class="btn btn-success btn-round btn-fab btn-fab-mini pull-right top">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                            </div>
                    
                    }
                   <div class="col-md-12">
                    <div class="card-content table-responsive table-full-width" id="test">
                        @{Html.RenderAction("_Viewtrainee", "ViewSessions", new { page = 1 });}
                    </div>
                       <div class="col-md-12">
                           <div class="col-md-4 col-md-offset-9 pull-right">
                               <button onclick="SaveCSV()" class="btn btn-success enr pull-right col-md-4">
                                   <span class="btn-label"><i class="material-icons">cloud_download</i></span> TÉLÉCHARGER
                                   <div class="ripple-container"></div>
                               </button>
                           </div>
                       </div>
                </div>
            </div>
        </div>
            @section scripts{

            <script>
                 $(document).on('change', "#search3", function () {
                    event.preventDefault();

                    var _search3 = $(this).val();    
                    $.ajax({
                        url: "@Url.Action("ppcLocation", "ViewSessions")?pays=" + _search3,
                        method: 'GET',
                        cache: false,
                        success: function (data) {  
                            var html = '<option value="" selected>Selection</option>';
                            for (var i = 0; i < data.length; i++) {
                                html += '<option value="' + data[i] + '">' + data[i] + '</option>';
                            }
                            $("#search4")
                                .html(html)
                                .selectpicker('refresh');                           
                        }
                    })

                });
            //$(".pagination").find("a").click(function () {
            //    event.preventDefault();
            //    $.get(event.target, function (success) {
            //        $("#test").html(success);
            //    });
            //    console.log(event.target.href);
            //    window.page = window.page || 1;
            //})
        function GetFilter() {
            event.preventDefault();
            var _search1 = $("#search1").val();
            var _search2 = $("#search2").val();
            var _search3 = $("#search3").val();
            var _search4 = $("#search4").val();

                window.page = 1;
                window.filter = '&search1=' + _search1 + '&search2=' + _search2 + '&search3=' + _search3 + '&search4=' + _search4;
                

            $.ajax({
                url: "@Url.Action("_Viewtrainee", "ViewSessions")",
                method: 'GET',
                cache: false,
                data: { search1: _search1, search2: _search2, search3: _search3, search4: _search4},
                success: function (result) {
                    $("#test").html(result);
                }
            });
                }




                function SaveCSV() {
                    event.preventDefault();
                    var _src1 = $("#search1").val();
                    var _src2 = $("#search2").val();
                    var _src3 = $("#search3").val();
                    var _src4 = $("#search4").val();

                        window.location = '@Url.Action("DownloadCSV", "ViewSessions")?_search1=' + _src1 + '&_search2=' + _src2 + '&_search3=' + _src3 + '&_search4=' + _src4;
                }
                </script>
            <script>
                $(".pagination").find("a").click(function (event)
                {
                    event.preventDefault();
                    $.get(
                        event.target,
                        
                        function (success) {
                            $("#test").html(success);
                        });
                })
            </script>
    
                }
       